
.logoHeader{
    width: 200px;
    border: 5px solid black;
    border-radius: 100%;
}

nav div div ul li{
    font-size: 25px;
    margin-right: 25px;
    text-shadow: 1px 1px black;
}


nav div div ul li:hover{
    font-size: 27px;
    font-style: italic;
    
}

.buttonStyle{
    border-radius: 100%;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    margin-right: 5rem;
}

.carritoStyle{
    width: 50px;
}