body{
    background-image: url(/public/assets/img/fondoNegro.jpg);
}

#header{
    background-image: linear-gradient(to right, rgba(236, 13, 13, 0.466), black, rgba(236, 13, 13, 0.466));;
}

.logoHeader{
    width: 150px;
    border: 5px solid black;
    border-radius: 100%;
}

.linkNav{
    color: white;
    font-size: 25px;
    margin-right: 25px;
    text-shadow: 1px 1px black;
    color: white ;

}

.linkNav:hover{
    font-size: 27px;
    font-style: italic;
    color: red;
    text-shadow: 1px 1px white;

}

.buttonStyle{
    border-radius: 100%;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    margin-right: 5rem;
}

.carritoStyle{
    width: 50px;
}
