
.counter{
    margin: 2rem;
}

.subtitulo{
    margin: 2rem;
    font-size: 45px;
    text-decoration: underline;
    color: white;
    text-align: center;
    text-shadow: 2px 2px rgba(236, 13, 13, 0.466);;
}

.cardStyle{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.img-card{
    height: 250px;
    padding: 1rem;
}

.itemStyle{   
    border: 3px solid rgba(236, 13, 13, 0.466);
    margin: 2rem;
}

